header {
    display: flex;
    background-color: #0C70F2;
    color: white;
    padding-top: 20px;

    h3 {
        margin-left: 55px;
        font-size: 25px;
        font-weight: 600;
        background-color: #0C70F2;
    }  
    .whiteh3{
        background-color: white;
        color: #0C70F2;
        border-radius: 7px 7px 0px 0px;
        padding: 5px 40px;
    }
}
